body.indice{
	BACKGROUND-IMAGE:URL(../Media/abstract-background-connection-internet-social-dot-and-line-element-012-vector.jpg);
	/*IMAGEN DE FONDO DE LA PAGINA 1*/
	BACKGROUND-ATTACHMENT: FIXED;
	BACKGROUND-SIZE: 100%;
	WIDTH: 75%;
	MARGIN: AUTO;
}
div.fondo {
   width: 1000px; 
   height: 80%;
   background-color: #FFFFFF;
   filter:alpha(opacity=20);
   -moz-opacity:0.2;
   /*ESTO CONTROLA LA OPACACIDAD O TRANSPARENCIA, A MENOR NUMERO MAS TRANSPARENTE Y VISEVERSA*/
   opacity: 0.7;
   padding:10px;
   BORDER-RADIUS: 20PX;
}
p.titulo{
	/*tipo de letra */
	FONT-FAMILY: Stencil;
	/*TAMAÑO DE LETRA */	
	FONT-SIZE:250%;
	/*COLOR DE LETRA*/
	COLOR:BLACK;
	/*TITULO CENTRADO*/
	TEXT-ALIGN: CENTER;
}
a.texto{
	/*tipo de letra */
	FONT-FAMILY: Comic Sans MS;
	/*TAMAÑO DE LETRA */	
	FONT-SIZE:100%;
	/*COLOR DE LETRA*/
	COLOR:BLACK;
}
a.enlaces{
	/*tipo de letra */
	FONT-FAMILY: Comic Sans MS;
	/*TAMAÑO DE LETRA */	
	FONT-SIZE:150%;
	/*COLOR DE LETRA*/
	COLOR:blue;
	TEXT-ALIGN: CENTER;
}
p.unidad{
	/*tipo de letra */
	FONT-FAMILY: Comic Sans MS;
	/*TAMAÑO DE LETRA */	
	FONT-SIZE:200%;
	/*COLOR DE LETRA*/
	COLOR:BLACK;
	/*TITULO CENTRADO*/
	TEXT-ALIGN: CENTER;
}
p.subtema{
	/*tipo de letra */
	FONT-FAMILY: Comic Sans MS;
	/*TAMAÑO DE LETRA */	
	FONT-SIZE:150%;
	/*COLOR DE LETRA*/
	COLOR:BLACK;
}
p.texto{
	/*tipo de letra */
	FONT-FAMILY: Comic Sans MS;
	/*TAMAÑO DE LETRA */	
	FONT-SIZE:100%;
	/*COLOR DE LETRA*/
	COLOR:BLACK;
	width: 95%; 
}
A.BOTON{
	/*QUITAR EL ESTILO DEL ENLACE*/
	TEXT-DECORATION:NONE;
	/*DAR CUERPO TIPO NEGRITA AL TEXTO DEL BOTON*/
	FONT-WEIGHT:600;
	/*TAMAÑO DEL TEXTO*/
	FONT-SIZE:15PX;
	/*COLOR DEL TEXTO*/
	COLOR:#FFFFFF;
	/*RELLENO SUPERIOR DEL BOTON*/
	PADDING-TOP:20PX;
	/*RELLENO INFERIOR DEL BOTON*/
	PADDING-BOTTOM: 20PX;
	/*RELLENO IZQUIERDO*/
	PADDING-LEFT:40PX;
	/*RELLENO DERECHO*/
	PADDING-RIGHT:40PX;
	/*COLOR DEL BOTON*/
	BACKGROUND-COLOR:#005BBB;
	/*COLOR DEL BORDE*/	
	BORDER-COLOR:#FFFFFF;
	/*ANCHURA DEL BORDE*/
	BORDER-WIDTH:3PX;
	/*ESTILO DEL BORDE*/
	BORDER-STYLE:SOLID;
	/*REDONDEO DEL BOTON*/
	BORDER-RADIUS:35PX;
}
DIV.IZQ{
	WIDTH:100%;
	HEIGHT:100%;
	FLOAT:LEFT;
	DISPLAY:INLINE-BLOCK;
	MARGIN:0;
	PADDING:0;
}
DIV.DER{
	WIDTH:20%;
	HEIGHT:100%;
	FLOAT:RIGHT;
	DISPLAY:INLINE-BLOCK;
	MARGIN:0;
	PADDING:0;
}